{% extends "@App/base.html.twig" %}
{% block appbundle_content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Création d'un project</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {{ form_start(form) }}
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <form>

                    <label for="name">Nom :</label><br/>
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                    <br />

                    <label for="name">Description :</label><br/>
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}

                    <br/>

                    <label for="name">Propriétaires concernés :</label><br/>
                    {{ form_widget(form.users) }}
                    {{ form_errors(form.users) }}

                    <br/>

                    <label for="survey">Survey :</label><br/>

                    <ul class="survey" data-prototype="{{ form_widget(form.survey.vars.prototype)|e('html_attr') }}">

                    </ul>

                    <label for="attachment">Pièces jointes :</label><br/>
                    <ul class="attachments" data-prototype="{{ form_widget(form.attachment.vars.prototype)|e('html_attr') }}">

                    </ul>

                    {{ form_widget(form.save) }}
                    {{ form_widget(form._token) }}
                </form>

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock appbundle_content %}

{% block js_added %}
    {% javascripts 'bundles/app/js/project/custom-form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

