{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    <div class="row">
        {# #}
        <div class="col-lg-12">
            <h1 class="page-header">Détail projet {{ project.name }} </h1>

            <div class="alert alert-success">
                Accessible par :
                {% if project.users|length > 0 %}
                    {% for user in project.users %}
                        <a href="">{{ user }}</a>,
                    {% endfor %}
                {% else %}
                    tout le monde
                {% endif %}

                , créé par {{ project.owner }} le {{ project.creationDate|date("d/m/Y") }}
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->


    <div class="col-lg-12">

        {#  #}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="lead">
                    <p>{{ project.description }}</p>
                </div>
                <div class="row">
                    <div class="survey-container">
                        {% for survey in project.survey %}
                            <div class="coprocard coprocard-survey">
                                <p class="lead">{{ survey.title }}</p>
                                <ul>
                                    {% for option in survey.options %}
                                        <li>{{ option.title }} (nb de votes : {{ option.votesNumber }})</li>
                                        <a href="{{ path('survey_vote', { 'idProject': project.id,'idSurvey': survey.id, 'idOption': option.id}) }}" >Voter</a>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>

            <h2>Pièces jointes</h2>
            {% for file in project.attachment %}
                <li>{{ file.name }}. <a href="{{ path('download_file', { 'id': file.id}) }}" >Télécharger</a></li>
            {% endfor %}
            <div>
                {{ form_start(fileForm) }}
                <label for="file">Ajouter une pièce jointe :</label><br/>
                {{ form_widget(fileForm.file) }}
                {{ form_end(fileForm) }}
            </div>

            <h2>Messages :</h2>
            {% for feeds in project.thread %}
                <div class="messageResponse coprocard">
                    <p class="coproMessage"> {{ feeds.body }}</p>
                    <p class="dateinfos">{{ feeds.user }} , {{ feeds.sendDate|date('d/m/Y à H:i:s') }}</p>
                </div>
            {% endfor %}

            {% if threadForm != null %}
                {{ form_start(threadForm) }}
                <div class="row">
                    <div class="container">
                        <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-xs-6 col-xs-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Répondre au projet
                                </div>
                                <div class="panel-body">
                                    <form>
                                        {{ form_widget(threadForm.body) }}
                                        {{ form_errors(threadForm.body) }}
                                        <br/>
                                    </form>

                                    {{ form_end(threadForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock appbundle_content %}