{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Projets </h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-success" href="{{ path('project_create') }}">Créer un projet d'évolution</a>
        </div>
        <br/>
        <br/>
    </div>

    <div class="row">
        {% for project in projects %}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ project.name }}
                    </div>
                    <div class="panel-body">

                        <a href="{{ path('project_detail', {'id': project.id}) }}" class="coprocardAboveLink">
                            <div class="coprocard corprocard-a">
                                <p class="coproMessage lead">
                                    {{ project.description }}
                                </p>
                                <p class="dateinfos"> {{ project.creationDate|date('d/m/Y à H:i:s') }} par {{ project.owner }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock appbundle_content %}