<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}">
    {% block stylesheets %}
        {% stylesheets 'bundles/app/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">CoproApp Alpha 0.1</a>
        </div>
        <!-- /.navbar-header -->
        {#User menu#}
        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="/login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('project_user') }}"><i class="fa fa-briefcase fa-fw"></i> Projets</a>
                    </li>
                    <li>
                        <a href="{{ path('message_all') }}"><i class="fa fa-comments fa-fw"></i> Messages</a>
                    </li>
                    <li>
                        <a href="{{ path('charge_user') }}"><i class="fa fa-money fa-fw"></i> Charges</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    

</div>
<!-- /#wrapper -->
<div id="page-wrapper">
    <div class="row">


        {% block appbundle_content %}
        {% endblock appbundle_content %}
    </div>
    <!-- /.col-lg-12 -->
</div>

{% block javascripts %}
    {% javascripts 'bundles/app/js/external/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'bundles/app/js/main/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{# JS for specific routes, added in childs twig#}
{% block js_added %}
{% endblock %}

</body>
</html>