{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    {{ form_start(form) }}
<div class="col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Création d'une charge</h1>
        </div>
        <div class="panel-body">
            <form>

                <div class="row">
                <label for="title">titre</label>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
                </div>
                <div class="row">
                <label for="dueOn">Date</label>
                {{ form_widget(form.dueOn) }}
                {{ form_errors(form.dueOn) }}
                </div>
                <div class="row">
                <label for="amount">Montant</label>
                {{ form_widget(form.amount) }}
                {{ form_errors(form.amount) }}
                </div>
                <div class="row">
                <label for="owners">Propriétaires concernés (tous si aucun sélectionné)</label>
                {{ form_widget(form.owners) }}
                {{ form_errors(form.owners) }}
                </div>
                <div class="row">
                <label for="bill">Facture</label>
                {{ form_widget(form.bill) }}
                {{ form_errors(form.bill) }}
                </div>
            </form>

    {{ form_end(form) }}
        </div>

{% endblock appbundle_content %}
