{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Message par {{ message.sender }} </h1>
            visible par :

            {% if message.receiver|length > 0 %}
                {% for user in message.receiver %}
                    <a href="" >{{ user }}</a>,
                {% endfor %}
            {% else %}
                tout le monde
            {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-9">

        <div class="panel-body">

            <div class="mesage-container">
                {{ message.body }}
                   <br/><br/>

            </div>


            {% for feeds in message.feeds %}
                <div class="panel-body">
                    <p class="message-container">{{ feeds.body }}</p>

                    par {{ feeds.user }} , {{ feeds.sendDate|date('d/m/Y à H:i:s') }}
                    <br/>
                </div>
            {% endfor %}
        </div>


        <div class="panel-heading">
            {{ form_start(form) }}
                <div class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <form>

                            <label for="message">Répondre au message :</label><br/>
                            {{ form_widget(form.body) }}
                            {{ form_errors(form.body) }}

                        </form>

                        {{ form_end(form) }}
                    </div>
                </div>
                </div>
        </div>
    </div>
{% endblock appbundle_content %}