{% extends "@App/base.html.twig" %}

{% block appbundle_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Messages</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <form method="get" action="/message">
                    <button type="submit" class="message-submit">Créer un message</button>
                </form>
            </div>
        <div class="panel-body">

        <h3>Messages visibles</h3>
        {% for message in messages %}
            <p class="message-container">{{ message.body }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <p class="message-archived">
                    {% if message.archived %}
                        message archivé
                    {% else %}
                        <a href="/message/archive/{{ message.id }}">Archiver</a>
                    {% endif %}
                </p>
            {% endif %}
            <a href="/message/detail/{{ message.id }}">afficher</a>
        {% endfor %}

        <h3>Vos messages créés</h3>
        {% for userMessage in userMessages %}
            <p class="message-container">{{ userMessage.body }}</p>
            {% if is_granted('ROLE_ADMIN') %}
                <p class="message-archived">
                    {% if userMessage.archived %}
                        message archivé
                    {% else %}
                        <a href="/message/archive/{{ userMessage.id }}">Archiver</a>
                    {% endif %}
                </p>
            {% endif %}
            <a href="/message/detail/{{ userMessage.id }}">afficher</a>
        {% endfor %}
        </div>
    </div>
{% endblock appbundle_content %}